* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  purple; 
}

h1,h2 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    color: purple;
}
 main{
   background-color: #fff;
   border-radius: 10px;
   padding: 40px;
   height: fit-content;
 }
 
 .form {
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    padding:10px;
    gap: 20px;
 }
 input {
    padding: 8px 15px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 5px;
 }
 button {
    padding: 10px;
    margin: 5px 0px;
    background-color: purple;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
 }
 p {
    text-align: center;
    margin-top: 2px;
    
 }
 label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
 }
 input:focus {
    outline: 1px solid red;
    border: 0;

 }