* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
   min-height: 100vh;
   padding: 20px;
}
.container {
    margin-inline: auto;
    min-height: 400px;
    max-width: 800px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    flex-flow: row nowrap;
    align-content: space-around;
    /* flex-direction: row; instead of these two we can use flex flow to categorize both of them */
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
}
.box {
    /* min-width: 100px; */
    height: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    /* margin-top: 0; */

    display: flex;
    justify-content: center;
    align-items: center;

    /* flex-basis: 200px;
    flex-grow: 1; 
    flex-shrink: 1; instead of using this three we can writeit out as this grow,shrink and basis  */
    flex: 1 1 150px;
}
.box:nth-child(2) {
     /* flex-grow: 2;
    flex-shrink: 2; */
    flex: 2 2 150px;
    order: 1;
}