* {
    box-sizing: border-box;   
}
body {
    font-size: 16px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px;
    
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

 ul {
    display: flex;
list-style: none;
gap: 20px;
}
.container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    border-color:2px dashed red;
}
.form input {
    padding: 10px;
    width: 230px;
}
 button {
    padding: 10px 20px;
    width: 230px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.error {
    color: red;
}
.right img {
    position: center;
    left: 30px;
    width: 800px;
    height: 600px;
    text-align: center;
}

.gray {
    width: 100px;
    height: 100px;
}

div img{
    border: 2px;
    border-radius: 50%;
}

.right {
    width: 20px;  
}

footer {
    display: grid;
    background-color: blueviolet;
}

li {
list-style: none;
}
